{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><b>{{chapdetail.chapel_name |lower|capfirst }} Chapel </b> &nbsp;Details
            </h1>
          </div>
          <div class="col-sm-6">

            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item active"><a href="{% url 'ctac:urls_chapel_list' %}"><i class="fas fa-church"></i><i class="fas fa-church"></i></a></li>
              <li class="breadcrumb-item active"><i class="fas fa-church"></i></li>
            </ol>
          </div><!-- /.col -->

        </div>
      </div>
    </section>
{#    <section class="content">#}
{#      <div class="card">#}
{#        <div class="card-header">#}
{#          <h3 class="card-title"><b> {{ chapdetail.chapel_name }} DETAILS</b></h3>#}
{#        </div>#}
{#        <div class="card-body">#}
{#          <table class="col-12">#}
{#            <tbody>#}
{#            <tr>#}
{#              <td width="50%">Chapel Name</td>#}
{#              <td width="50%" style="text-align: left; font-weight: bold;">{{ mindetails.chapel_name|lower|capfirst }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#              <td width="50%">Ministry Chapel</td>#}
{#              <td width="50%"#}
{#                  style="text-align: left; font-weight: bold;">{{ mindetails.chapel|lower|capfirst }}</td>#}
{#            </tr>#}
{##}
{#            </tbody>#}
{#          </table>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}

                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"> <b>Shepherds Of &nbsp; {{ mindetails.ministry_name|lower|capfirst }} &nbsp;&nbsp; </b></h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th style="background-color:#e67676">#</th>
                          <th style="background-color:#e67676">Firstname</th>
                          <th style="background-color:#e67676">Lastname</th>
                          <th style="background-color:#e67676">Phone Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shepherd in shepherd %}
                          <tr>
                            <td>{{ shepherd.id }}</td>
                            <td>{{ shepherd.first_name }}</td>
                            <td><a href="{% url 'ctac:shepherd_details_url' shepherd.slug %}"
                                   class="link-black text-sm"> {{ shepherd.surname|lower|capfirst }}</a></td>
                             <td>{{ shepherd.phone_number }}</td>
                          </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>

                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"> <b>Members of &nbsp; {{ mindetails.ministry_name|lower|capfirst }} &nbsp;&nbsp; </b></h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th style="background-color:#e67676">#</th>
                          <th style="background-color:#e67676">Firstname</th>
                          <th style="background-color:#e67676">Lastname</th>
                          <th style="background-color:#e67676">Phone Number</th>
                          <th style="background-color:#e67676">Shepherd</th>
                          <th style="background-color:#e67676">Chapel</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for members_in_ministry in members_in_ministry %}
                          <tr>
                            <td>{{ members_in_ministry.id }}</td>
                            <td>{{ members_in_ministry.first_name }}</td>
                            <td><a href="{% url 'ctac:member_details_url' members_in_ministry.slug %}"
                                   class="link-black text-sm"> {{ members_in_ministry.surname|lower|capfirst }}</a></td>
                             <td>{{ members_in_ministry.contact_number }}</td>
                          <td>{{ members_in_ministry.shepherd }}</td>
                          <td>{{ members_in_ministry.chapel }}</td>
                          </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
  </div>
{% endblock %}



