
{% extends 'base.html' %}
{% load static %}
{% block content  %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><b>{{membdetails.surname|lower|capfirst}} &nbsp;{{ membdetails.first_name|lower|capfirst}}</b> Details</h1>
          </div>

        </div>
      </div>
    </section>

    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b> PERSONAL DETAILS</b></h3>
        </div>
        <div class="card-body">
          <table class="col-12">
            <tbody>

            <tr>
                <div class="post clearfix">
              <td width="50%">Surname</td>
              <td width="50%" style="text-align: left; font-weight: 600;">{{membdetails.surname|lower|capfirst}}</td>
                 </div>
            </tr>
             {% if membdetails.second_name %}
            <tr>
              <td width="50%">Middle Name</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{membdetails.second_name|lower|capfirst }}</td>
            </tr>
           {% endif %}
            <tr>
               <td width="50%">First Name</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.first_name|lower|capfirst}}</td>
            </tr>
                <tr>
               <td width="50%">Marital Status</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.marital_status}}</td>
            </tr>
             <tr>
               <td width="50%">Age Group</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.age}}</td>
            </tr>
             <tr>
               <td width="50%">Gender</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.sex}}</td>
            </tr>
             <tr>
               <td width="50%">Occupation</td>
              <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.occupation|lower|capfirst}}</td>
            </tr>

            </tbody>
          </table>


      </div>

 </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b> ADDRESS DETAILS</b></h3>
        </div>
        <div class="card-body">
          <table class="col-12">
             {% if membdetails.owner_of_phone_number %}
           <tr>
             <td width="50%">Owner of the Phone</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.owner_of_phone_number|lower|capfirst}}</td>
           </tr>
            {% endif %}

            {% if membdetails.details_of_owner %}
           <tr>
             <td width="50%">Details of Owner</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.details_of_owner}}</td>
           </tr>
            {% endif %}

          {% if membdetails.contact_number %}
           <tr>
             <td width="50%">Phone Number</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.contact_number}}</td>
           </tr>
            {% endif %}

          {% if membdetails.whatsapp_number %}
           <tr>
             <td width="50%">Whatsapp Number</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.whatsapp_number}}</td>
           </tr>
            {% endif %}

          {% if membdetails.area_of_residence %}
           <tr>
             <td width="50%">Area of Residence</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.area_of_residence}}</td>
           </tr>
            {% endif %}

          {% if membdetails.micro_area_name %}
           <tr>
             <td width="50%">Area Name</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.micro_area_name}}</td>
           </tr>
            {% endif %}

          {% if membdetails.nearest_landmark %}
           <tr>
             <td width="50%">Nearest Landmark</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.nearest_landmark|lower|capfirst}}</td>
           </tr>
            {% endif %}
         </table>
        </div>
      </div>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title"><b> CHAPEL & MINISTRY DETAILS</b></h3>
        </div>
        <div class="card-body">
          <table class="col-12">
             {% if membdetails.phone_usage %}
           <tr>
             <td width="50%">Phone Usage</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.phone_usage|lower|capfirst}}</td>
           </tr>
            {% endif %}

            {% if membdetails.online_service %}
           <tr>
             <td width="50%">Able to Join Online Service</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.online_service|yesno|lower|capfirst }}</td>
           </tr>
            {% endif %}

           {% if membdetails.services %}
           <tr>
             <td width="50%">Service Joined</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.services|lower|capfirst}}</td>
           </tr>
            {% endif %}

          {% if membdetails.chapel %}
           <tr>
             <td width="50%">Chapel</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.chapel}}</td>
           </tr>
            {% endif %}

          {% if membdetails.chapel_head %}
           <tr>
             <td width="50%">Chapel Head</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.chapel_head}}</td>
           </tr>
            {% endif %}

          {% if membdetails.shepherd %}
           <tr>
             <td width="50%">Shepherd</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.shepherd}}</td>
           </tr>
            {% endif %}

          {% if membdetails.ministries %}
           <tr>
             <td width="50%">Ministry</td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.ministries}}</td>
           </tr>
            {% endif %}

          {% if membdetails.state %}
           <tr>
             <td width="50%">Member's State </td>
           <td width="50%" style="text-align: left; font-weight: bold;">{{ membdetails.state|lower|capfirst}}</td>
           </tr>
            {% endif %}
         </table>
        </div>
      </div>
  </section>
  </div>
{% endblock %}
