{% extends 'base.html' %}
{% block title %}CTAC | Add Area {% endblock %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item "><a href="{% url 'ctac:urls_member_list' %}"><i class="fas fa-house-user"></i></a></li>

                          <li class="breadcrumb-item active"><i class="fas fa-laptop-house"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:export_shepherd_xls' %}" style=""> <i class="fas fa-file-excel"></i></a>
                      </div>
                    </div>

                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}

{##}
{#<body>#}
{#    <h1>Add Arera</h1>#}
{#    <div class="content-wrapper">#}
{#      <div class="container1">#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <div class="form1">#}
{#                <label>Enter your Area name :</label>#}
{#                {{form.arearesidences}}#}
{#            </div>#}
{##}
{##}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </form>#}
{##}
{#    </div>#}
{#    </div>#}
{#</body>#}
{#</html>#}
{##}
{#{% endblock %}#}
{##}
