{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">NEW MEMBER</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <form method="POST" action="">
                  {% csrf_token %}

                  <div class="form-group">
                    <label>First Name </label>
                    <input
                            type='text'
                            name='first_name'
                            class="form-control"
                            placeholder="Enter first name">

                  </div>
                  <div class="form-group">
                    <label>Middle Name </label>
                    <input
                            type='text'
                            name='second_name'
                            class="form-control"
                            placeholder="Enter Middle Name">

                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                            type='text'
                            name='surname'
                            class="form-control"
                            placeholder="Enter Last name">

                  </div>
                  <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control select2" name="sex" style="width: 100%;">
                      <option selected="selected">Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Age Group</label>
                    <select class="form-control select2" name="age" style="width: 100%;">
                      <option selected="selected">10-19 years</option>
                      <option>20-29 years</option>
                      <option>30-39 years</option>
                      <option>40-49 years</option>
                      <option>50-59 years</option>
                      <option>60 and above</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Occupation</label>
                    <input
                            type='text'
                            name='occupation'
                            class="form-control"
                            placeholder="Enter Occupation">
                  </div>
                  <div class="form-group">
                    <label>Marital Status</label>
                    <select class="form-control select2" name="marital_status" style="width: 100%;">
                      <option selected="selected">Single</option>
                      <option>Married</option>
                      <option>Divorced</option>
                      <option>widow</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Middle Name </label>
                    <input
                            type='text'
                            name='second_name'
                            class="form-control"
                            placeholder="Enter Middle Name">

                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}

