{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Areas{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="row">
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                      <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item active"><i class="fas fa-house-user"></i></li>
                    </ol>
                  </div>
                  <div class="col-md-6 text-right">
                    <a href="{% url 'ctac:add_area_url' %}"> <i class="fas fa-house-user"></i></a> &nbsp;<b>|</b>

                    <a href="{% url 'ctac:export_area_xls' %}" style=""> <i class="fas fa-file-excel"></i></a>
                  </div>
                </div>
                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Area's List</h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th style="background-color:#e67676">ID</th>
                          <th style="background-color:#e67676">Area</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for area in area %}
                          <tr>
                            <td> {{ area.id }}</td>
                            <td> {{ area.area_residence|lower|capfirst }}</td>

                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
