{% extends 'base.html' %}
{% block title %}CTAC | Contact Us {% endblock %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item active"><i class="fas fa-phone"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:export_area_xls' %}" style=""> <i class="fas fa-file-excel"></i></a>
                      </div>
                    </div>

                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}

