{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Attendance {% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item active"><i class="fas fa-calendar-plus"></i> &nbsp;<i class="fas fa-calendar-plus"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:dance' %}"> <i class="fas fa-calendar-plus"></i></a>
                      </div>
                    </div>
                  </h2>
                </div>

              <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Attendance's List</h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                           <th style="background-color:#e67676"> ID</th>
                          <th style="background-color:#e67676">Member</th>
                          <th style="background-color:#e67676">Service Date</th>
                          <th style="background-color:#e67676">Service Attended</th>
                          <th style="background-color:#e67676">Present_in</th>
                          <th style="background-color:#e67676">Shepherd</th>
                          <th style="background-color:#e67676">Chapel</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for attd in attd %}
                      <tr>
                        <td>{{ attd.id }}</td>
                        <td> {{ attd.member |lower|capfirst  }}</td>
                        <td>  {{ attd.date }}</td>
                        <td>{{ attd.services }}</td>
                        <td> {{ attd.present_in }}</td>
                        <td>{{ attd.shepherd }}</td>
                        <td>{{ attd.chapel }}</td>

                      </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
{#                   {% if memblist.has_previous %}#}
{#                    <a href="?page={{ attd.previous_page_number }}"><i class="fas fa-chevron-circle-left"></i></a>#}
{#                    &nbsp; &nbsp;#}
{#                  {% endif %}#}
{#                  {% if memblist.has_next %}#}
{#                    <a href="?page={{ attd.next_page_number }}"><i class="fas fa-chevron-circle-right"></i></a>#}
{#                  {% endif %}#}
                </section>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

