{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Chapel Heads {% endblock %}
{% block content  %}

<div class="wrapper">
 <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header"> <h2 class="card-title col-md-12">
                  <div class="row">
                   <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><i class="fas fa-users"></i> </li>
                      </ol>
                    </div>
                    <div class="col-md-6 text-right">
                      <a href="{% url 'ctac:add_heads_chapel' %}"> <i class="fas fa-user-plus"></i></a>&nbsp;<b>|</b>
                      &nbsp;</div>
                  </div>
                </h2>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Chapel Heads</th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for heads in head %}
                  <tr>
                    <td> {{ head.id }}</td>
                    <td> {{ head.chapel_heads }}</td>

                  </tr>
                  {% endfor %}
                  <tr>

                  </tbody>
                </table>

              {% if heads.has_previous %}
<a href="?page={{heads.previous_page_number }}"><i class="fas fa-chevron-circle-left"></i></a> &nbsp; &nbsp;
{% endif%}
{% if heads.has_next %}
<a href="?page={{heads.next_page_number }}"><i class="fas fa-chevron-circle-right"></i></a>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
 </div>
 </div>
</div>


  {% endblock %}
