{% extends 'base.html' %}
{% load static %}
{% block content  %}

<div class="wrapper">
 <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header"> <h2 class="card-title col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      Chapel Heads
                    </div>
                    <div class="col-md-6 text-right">
                       Export data <a href="{% url 'ctac:export_chapelheads_xls' %}" style="">  <i class="fas fa-file-excel"></i></a>
                    </div>
                  </div>
                </h2>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Chapel Heads</th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for heads in heads %}
                  <tr>
                    <td> {{ heads.id }}</td>
                    <td> {{ heads.chapel_heads }}</td>

                  </tr>
                  {% endfor %}
                  <tr>

                  </tbody>
                </table>

              {% if heads.has_previous %}
<a href="?page={{heads.previous_page_number }}">Previous Page</a> &nbsp; &nbsp;
{% endif%}
{% if heads.has_next %}
<a href="?page={{heads.next_page_number }}">Next Page</a>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
</div>


  {% endblock %}
