{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Chapel Heads {% endblock %}
{% block content %}

  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item active"><i class="fas fa-users"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:add_heads_chapel' %}"> <i class="fas fa-user-plus"></i></a>&nbsp;<b>|</b>
                        &nbsp;
                      </div>
                    </div>
                  </h2>
                </div>

                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Member's List</h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>Chapel Heads</th>
                          <th>Chapel</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for head in head %}
                          <tr>
                            <td> {{ head.id }}</td>
                            <td> {{ head.chapel_heads }}</td>
                            <td>{{ head.chapel }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
  </div>
  </div>


{% endblock %}
