{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Chapels{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                      <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item active"><i class="fas fa-place-of-worship"></i></li>
                    </ol>
                  </div>
                  <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:new_url' %}"> <i class="fas fa-place-of-worship"></i>&nbsp;<i class="fas fa-plus"></i></a>&nbsp;

                      </div>
                </div>
                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h2 class="card-title">Chapels</h2>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th style="background-color:#e67676">ID</th>
                          <th style="background-color:#e67676">Chapel Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for chap in chap %}
                          <tr>
                            <td>{{ chap.id }}</td>
                            <td><a href="{% url 'ctac:chapel_details_urls' chap.slug %}"
                               class="link-black text-sm"> {{ chap.chapel_name|lower|capfirst }}</a></td>

                          </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
