{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Dashboard{% endblock %}
{% block content %}
{#  {% load template_filters %}#}
  <div class="content-wrapper">
    <div class="wrapper">
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ memcount }}</h3>

                  <p>Members</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <a href="{% url 'ctac:urls_member_list' %}" class="small-box-footer">More info </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">

                <div class="inner">
                  <a href="{% url 'ctac:urls_shepherd_list' %}">
                    <h3>{{ shecounts }}<sup style="font-size: 20px"></sup></h3></a>

                  <p>Shepherds</p>
                </div>
                <div class="icon">
                 <i class="fas fa-walking"></i>
                </div>
                <a href="{% url 'ctac:urls_shepherd_list' %}" class="small-box-footer">More info </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ new_area }}</h3>

                  <p>Residences</p>
                </div>
                <div class="icon">
                  <i class="far fa-building"></i>
                </div>
                <a href="{% url 'ctac:urls_areas_list' %}" class="small-box-footer">More info</a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ mini_count }}</h3>

                  <p>Ministries</p>
                </div>
                <div class="icon">
                  <i class="fas fa-church"></i>
                </div>
                <a href="{% url 'ctac:urls_ministry_list' %}" class="small-box-footer">More info </a>
              </div>
            </div>

            <div class="container-fluid mt-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header border-transparent">
                      <h3 class="card-title">Latest Member</h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Last Name</th>
                            <th>Other Name</th>
                            <th>First Name</th>
                            <th>Phone Number</th>
                            <th>Shepherd</th>

                          </tr>
                          </thead>
                          <tbody>
                          {% for mat in mat %}
                            <tr>

                              <td> {{ mat.surname|capfirst|center:"15"  }}</td>
                              <td> {{ mat.second_name|lower|capfirst }}</td>
                              <td>{{ mat.first_name|lower|capfirst }}</td>
{#                              {% for number in object_list %}#}
                              <td> {{ mat.contact_number}}</td>
{#                                {% endfor %}#}
                              <td> {{ mat.shepherd }}</td>


                            </tr>
                          {% endfor %}
                          <tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer clearfix">
                        <a href="{% url 'ctac:new_ministry_url' %}" class="btn btn-sm btn-info float-left"> New
                          Member</a>
                        <a href="{% url 'ctac:urls_member_list' %}" class="btn btn-sm btn-secondary float-right">View All
                          Member</a>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
               <div class="container-fluid mt-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header border-transparent">
                      <h3 class="card-title">Latest Attendance</h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Member</th>
                            <th>Service Date</th>
                            <th>Service Attended</th>
                            <th>Present_in</th>
                            <th>Shepherd</th>
                            <th>Chapel</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for att in att %}
                            <tr>

                              <td> {{ att.member|lower|capfirst }}</td>
                              <td> {{ att.date }}</td>
                              <td>{{ att.services }}</td>
                              <td> {{ att.present_in|lower|capfirst }}</td>
                              <td> {{ att.shepherd }}</td>
                              <td>{{ att.chapel }}</td>

                            </tr>
                          {% endfor %}
                          <tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer clearfix">
                        <a href="{% url 'ctac:new_attendance_urls' %}" class="btn btn-sm btn-info float-left"> New
                          Attendance</a>
                        <a href="{% url 'ctac:urls_attendance' %}" class="btn btn-sm btn-secondary float-right">View All
                          Attendance</a>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}
