{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Members {% endblock %}
{% block content  %}

{##}

<div class="wrapper">
 <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title col-md-12">
                  <div class="row">

                    <div class="col-sm-6">

                      <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><i class="fas fa-users"></i> </li>
                      </ol>
                    </div><!-- /.col -->
                    <div class="col-md-6 text-right">
                       add Member <a href="{% url 'ctac:add_member_url' %}"> <i class="fas fa-user-plus"></i></a>
                      &nbsp;
                       Export data <a href="{% url 'ctac:export_members_xls' %}" style="">  <i class="fas fa-file-excel"></i></a>
                    </div>
                  </div>
                </h2>
                <div class="col-md-12">
{#                 <button type="button" class="btn btn-block btn-secondary btn-lg">Secondary</button>#}
                </div>
              </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th> # </th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>Contact Number</th>
                    <th>Whatsapp Number </th>
                    <th>Area of Residence </th>
                    <th>Shepherd </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for memblist in memblist %}
                  <tr>
                    <td>{{ memblist.id }}</td>
                    <td><a href="{% url 'ctac:member_details_url' memblist.slug %}" class="link-black text-sm"> {{ memblist.surname }}</a></td>
                    <td> {{ memblist.first_name }}</td>
                    <td>{{ memblist.sex}}</td>
                    <td> {{ memblist.contact_number }}</td>
                    <td>{{ memblist.whatsapp_number }}</td>
                  <td>{{ memblist.area_of_residence }}</td>
                  <td>{{ memblist.shepherd }}</td>
                  </tr>
                  {% endfor %}
                  <tr>

                  </tbody>
                </table>
              {% if memblist.has_previous %}
<a href="?page={{memblist.previous_page_number }}"><i class="fas fa-chevron-circle-left"></i></a> &nbsp; &nbsp;
{% endif%}
{% if memblist.has_next %}
<a href="?page={{memblist.next_page_number }}"><i class="fas fa-chevron-circle-right"></i></a>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
</div>


  {% endblock %}

