{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Ministries{% endblock %}
{% block content  %}

<div class="wrapper">
 <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><i class="fas fa-users"></i> </li>
                      </ol>
                    </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Ministry Name</th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for minlist in minlist %}
                  <tr>
                    <td> {{ minlist.id }}</td>
                    <td> {{ minlist.ministry_name }}</td>

                  </tr>
                  {% endfor %}
                  <tr>

                  </tbody>
                </table>

               {% if minlist.has_previous %}
<a href="?page={{minlist.previous_page_number }}"><i class="fas fa-chevron-circle-left"></i></a> &nbsp; &nbsp;
{% endif%}
{% if minlist.has_next %}
<a href="?page={{minlist.next_page_number }}"><i class="fas fa-chevron-circle-right"></i></a>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
</div>


  {% endblock %}
