{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Services{% endblock %}
{% block content  %}

<div class="wrapper">
 <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">Services</h2>
                <div class="col-md-12">
{#                 <button type="button" class="btn btn-block btn-secondary btn-lg">Secondary</button>#}
                </div>
              </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Service </th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for services in services %}
                  <tr>
                    <td> {{ services.id }}</td>
                    <td> {{ services.service_name }}</td>

                  </tr>
                  {% endfor %}
                  <tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
</div>


  {% endblock %}
