{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Services{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item active"><i class="fas fa-dice-three"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:new_services' %}"><i class="fas fa-dice"></i></a>
                      </div>
                    </div>
                  </h2>
                </div>
                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Service's</h3>
                    </div>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th style="background-color:#e67676">ID</th>
                          <th style="background-color:#e67676">Service</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in service %}
                          <tr>
                            <td> {{ service.id }}</td>
                            <td> {{ service.service_name }}</td>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>

                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
