{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Shepherds{% endblock %}
{% block content %}

  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <ol class="breadcrumb float-sm-left">
                          <li class="breadcrumb-item"><a href="{% url 'ctac:home' %}"> <i class="fas fa-home"></i></a>
                          </li>
                          <li class="breadcrumb-item active"><i class="fas fa-users"></i></li>
                        </ol>
                      </div>
                      <div class="col-md-6 text-right">
                        <a href="{% url 'ctac:new_shepherd_url' %}"> <i class="fas fa-user-plus"></i></a>&nbsp;<b>|</b>
                        &nbsp;
                        <a href="{% url 'ctac:export_shepherd_xls' %}" style=""> <i class="fas fa-file-excel"></i></a>
                      </div>
                    </div>
                  </h2>
                </div>
                    <section class="content">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Shepherd's List</h3>
                        </div>
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                              <th>ID</th>
                              <th>Surname</th>
                              <th>First Name</th>
                              <th>Gender</th>
                              <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sheplist in sheplist %}
                              <tr>
                                <td>{{ sheplist.id }}</td>
                                <td><a href="{% url 'ctac:shepherd_details_url' sheplist.slug %}"
                                       class="link-black text-sm"> {{ sheplist.surname }}</a></td>
                                <td> {{ sheplist.first_name }}</td>
                                <td>{{ sheplist.sex }}</td>
                                <td> {{ sheplist.type }}</td>
                              </tr>
                            {% endfor %}
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      {% if paslist.has_previous %}
                        <a href="?page={{ paslist.previous_page_number }}"><i
                                class="fas fa-chevron-circle-left"></i></a>
                        &nbsp;
                        &nbsp;
                      {% endif %}
                      {% if paslist.has_next %}
                        <a href="?page={{ paslist.next_page_number }}"><i class="fas fa-chevron-circle-right"></i></a>
                      {% endif %}
                    </section>
                    {% if sheplist.has_previous %}
                      <a href="?page={{ sheplist.previous_page_number }}">Previous Page</a> &nbsp; &nbsp;
                    {% endif %}
                    {% if sheplist.has_next %}
                      <a href="?page={{ sheplist.next_page_number }}">Next Page</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
  </div>
  </div>


{% endblock %}
