{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.jpg' %} "/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<div class = "row">
   <div class="col-4">
     <form action="" method="POST" autocomplete="off">
       {% csrf_token %}
       <h2> Hi {{ user.username }} Please Enter Your verification code </h2>
       {{form}}
       <button type="submit" class="btn btn-primary"> Verify</button>

     </form>
   </div>
</div>
{% endblock %}
